@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;

/* Definindo as variáveis CSS para as fontes */
:root {
    --display-font: 'Fira Code', monospace;
    --body-font: 'Merriweather Sans', sans-serif;
}

.scroll-bar {
  @apply scroll-smooth;
  @apply flex touch-none select-none bg-dark-900 px-1 py-0.5 hover:bg-dark-800;
  @apply transition-all duration-300 ease-in-out;
}

.scroll-bar[data-orientation='horizontal'] {
  @apply h-2.5 flex-col;
}

.loader {
  @apply relative flex items-center justify-center;
  @apply h-2 w-full overflow-hidden;
  @apply rounded;
}

.loader::before {
  content: '';
  @apply absolute top-0 left-0 h-full w-full bg-primary-500 opacity-10;
}

.loader::after {
  content: '';
  @apply h-full w-full rounded bg-primary-500;
  animation: raceBy 1.6s ease-in-out infinite;
  transform: translateX(-100%);
}

@keyframes raceBy {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Classes para estilos de fonte */
.font-display {
  font-family: var(--display-font), monospace;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  line-height: 32px;
}

.font-body {
  font-family: var(--body-font), sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  line-height: 24px;
}

.font-description {
  font-family: var(--body-font), sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #94a1b2;
  line-height: 20px;
}

.font-title {
  font-family: var(--display-font), monospace;  /* Usando a mesma família de fontes do nome */
  font-size: 16px;  /* Ajustando o tamanho conforme solicitado */
  font-weight: 700;  /* Peso da fonte para título */
  color: #ffffff;  /* Cor do texto */
  line-height: 24px;  /* Altura da linha para legibilidade */
}

@tailwind utilities;
