@import "tailwindcss";

@theme {
  --color-background: #16161a;
  --color-box-bg: #1e1e24;
  --color-cyber-cyan: #00f3ff;
  --color-cyber-green: #39ff14;
  
  --shadow-neon-cyan: 0 0 5px #00f3ff, 0 0 20px #00f3ff;
}

:root {
  --background: #16161a;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}